/* 초기화 */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   word-break: keep-all;
   font-family: 'Noto Sans KR', sans-serif;
}
/* ================================================ */

/* 컨테이너 설정 */
.contain_about{
    width: 100%;
}

/* ================================================ */


/* 페이지헤더 */
.about_header{
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: 0%;
    margin-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
       url('/public/img/login_header.jpg') !important;
 }
  

/* ================================================ */

/* 본문 */
.main_about{
    max-width: 1440px;
    margin: 0 auto !important;
    background-color: aqua;
    min-height: 200px;
}

/* 상단 로고 이미지 */
.logoImg_main{
    text-align: center;
}

.icon_logo_main{
    width: 50px;
    margin: 140px 0px 10px 0px;
}

.icon_word_main{
    width: 300px;
    margin-bottom: 80px;
}

/* 상단문구 */
.ann_name_about{
    font-size: 24px !important;
    font-weight: 900 !important;
    margin-bottom: 10px !important;
    text-align: center !important;
}