.cafe_request_board{
    padding: 10px;
}
.cafe_board_header{
    max-width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 0%;
    margin-bottom: 50px !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/public/img/cafe_board_header.jpg');
}

.cafe_board{
    padding-top: 50px;
}

.cafe_board_click:hover{
    color: blue;
    cursor: pointer;
}

