 /* login.css */


 *{
  list-style: none;
  text-decoration: none !important;
}

p,div{
  margin: 0 !important;
}

.container-sm{
  max-width: 1440px !important;
  margin: 0 auto !important;
}

#login_div{
  margin: 0 auto !important; 
}


Button > a{
  color: #fff;
}

Button > a:hover{
  color: #fff;
}

header{
  margin-bottom: 0px !important;
}

html,
body {
  height: 100vh;
}

.login_txt{
  margin: 50px 0 50px 0;
  text-align: center;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.loginInput {
  height: 36px;
  margin-left: 15px;
  margin-right: 15px;
}

#loginForm{
  margin-top: 140px !important;
}


/* 버튼 색상 */
.d-grid> button{
  background-color: #a09785 !important;
  border-color: #a09785 !important;
}

.d-grid> button:hover{
  background-color: #928a79 !important;
  border-color: #928a79 !important;
}

#pw_btn > button{
  background-color: #fff !important;
  color: #928a79;
  margin-top: 10px;
}

.login_row{
  margin-bottom: 140px !important;
}

.form-group>.pw_btn{
  background-color: #fff;
  border-color: #928a79 !important;
}


/* 페이지 헤더 */
.page_header{
	width: 100%
}

.login_header{
   max-width: 100%;
   height: 300px;
   background-size: cover;
   background-position: 0%;
   margin-bottom: 100px;
}


/* 페이지 헤더 이미지 */
/* 로그인 */
.login_header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/public/img/login_header.jpg') !important;
}

.comeText {
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  line-height: 300px;
  text-align: center;
  margin-bottom: 0px !important;
}

/*  */
#id, #pw{
  height: 48px;
}

.my_naver{
  width: 100%;
  height: 48px;
  border-radius: 5px;
  text-align: center;
  background-color: #1EC800;
}

.my_naver > img {
  width: 60%;
  height: 45px;
}